* {
    margin: 0;
  }
  
body {
    display: flex;
    font-family: Roboto;
}

#leftSide {
    flex: 1;
    background-color: red;
    height: 100vh;
    display: flex;
    box-shadow: 10px 0px 50px black;
}

#rightSide {
    background-color: rgba(168, 50, 96);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    box-shadow: -10px -10px 50px black;
}

h1, h2 {
    color: white;
    margin-top: 2em;
    margin-left: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    margin-top: 0.2em;
}

p {
    margin-top: 4em;
    margin-left: 5em;
    margin-right: 5em;
    text-align: justify;
    color: gainsboro;
}

#blonde {
    display: block;
    max-width:70vh;
    max-height:100vh;
    object-fit: cover;
    object-position: -400px;
    box-shadow: -10px -10px 5px black;
}