* {
    margin: 0;
  }
  
body {
    display: flex;
    font-family: Roboto;
}

#leftSide {
    flex: 1;
    background-color: red;
    height: 100vh;
    display: flex;
    box-shadow: 10px 0px 50px black;
}

#rightSide {
    background-color: rgba(139, 139, 139, 0.84);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px -10px 50px black;
    flex: auto;
}

h1, h2 {
    color: rgb(255, 255, 255);
    margin-top: 30px;
}

h1 {
    font-size: 3em;
}

h2 {
    margin-top: 0.2em;
}

p {
    margin-top: 3em;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin-left: 10em;
    margin-right: 10em;
}

#blonde {
    display: block;
    max-width:70vh;
    max-height:100vh;
    object-fit: cover;
    object-position: -400px;
    box-shadow: -10px -10px 5px black;
}

#banner {
    margin-top: 60vh;
    width: 70vh;
    display: flex;
    position: absolute;
    background-color: rgba(0, 132, 62, 0.529);
    justify-content: center;
    align-items: center;
}

#loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 132, 62, 0.876);
    margin-top: 30px;
    width: 70%;
    box-shadow: 20px 20px 1px black;
    border-radius: 5px;
}


#mills {
    padding: 20px;
    padding-right: 5px;
    max-width: 10vw;
    max-height: 10vh;
}

#millsCaption {
    margin: 0;
    font-size: 4em;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 0;
    padding-top: 20px;
    padding-bottom: 40px;
}

li, ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

legend {
    font-family: Roboto;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 30px;
}

label {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    font-size: 1em;
    color: white;
}

input {
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 1px black;
}

#register {
    width: 250px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 1px black;
    background-color: gold;
    margin-bottom: 30px;
    color: black;
    font-size: 1em;
    font-weight: 700;
}

